
body{
    /* Set background image in center of page with any size*/
    background: url("../images/background.jpg") no-repeat fixed center;
}

/* Make content in center of page with a clear box*/
#content{

    /* Black background with transparent opacity */
    background: rgba(0, 0, 0, 0.5);
    color: white;

    margin: 80px 100px 100px 80px;
    padding: 50px 50px 50px 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

    border-radius: 50px;
    /*
        Galaxy Shadow!
        SOURCE: https://codersblock.com/blog/creating-glow-effects-with-css/
     */
    box-shadow:
        inset 6px 0 12px #f0f,  /* left magenta */
        inset -6px 0 12px #0ff; /* right cyan */
}

/* Big font size for title*/
h1{
    color: darkgray;
    font-size: 36px;
}

/* All bullet must be white */
li::marker{
    color: white;
}

/* Color of item must be gold*/
#detail-list-item li{
    color: gold;
}

#starships-list-item a{
    color: gold;
    text-decoration: none;
}

/* Hover of item list in starships name must be orange*/
#starships-list-item a:hover{
    color: orange;
    text-decoration: none;
}


/* Style for paging */
#page_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px;
}

#page_container p{
    color: #caff34;
    text-align: center;
    position: relative;
    top: -10px;
    width: 75px;
    height: 30px;
}

#page_container button{
    color: #caff34;
    background: none;
    width: 75px;
    height: 30px;
    border-radius: 10px;
}

#page_container button:hover{
    color: chartreuse;
}
